:root {
  --space: 1.5rem;
  --border-radius: 12px;
  --border-width: 1px;
  --border-color: var(--mantine-color-default-border);
  --gap: 1rem;
  --grid-gutter: 1rem;
}

.blockBase {
  // padding: 0;
  &:not(.inset) {
    padding: 0;
  }
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.xs,
.sm {
  --space: 1rem;
  --border-radius: 8px;
  --gap: 0.75rem;
}

.lg,
.xl {
  // font-size: 1.2rem;
  --space: 2.5rem;
  --border-radius: 16px;
  --border-width: 2px;
  --gap: 1rem;
}

.border {
  border: var(--border-width) solid var(--border-color);
}

.borderLeft {
  border-left: var(--border-width) solid var(--border-color);
}

.borderRight {
  border-right: var(--border-width) solid var(--border-color);
}

.borderTop {
  border-top: var(--border-width) solid var(--border-color);
}

.borderBottom {
  border-bottom: var(--border-width) solid var(--border-color);
}

.inset {
  // padding: var(--space);
}
