:root {
  --border-width: 1px;
  --border-color: var(--mantine-color-default-border);
  --block-background: transparent;
}

.blockBase {
  display: block;
  padding: 0;
}

.flex {
  display: flex;
  > * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.wrap {
  flex-wrap: wrap;
}

.border {
  border: var(--border-width) solid var(--border-color);
}

.borderLeft {
  border-left: var(--border-width) solid var(--border-color);
}

.borderRight {
  border-right: var(--border-width) solid var(--border-color);
}

.borderTop {
  border-top: var(--border-width) solid var(--border-color);
}

.borderBottom {
  border-bottom: var(--border-width) solid var(--border-color);
}

.backgroundPrimary,
.backgroundSecondary,
.backgroundInverse {
  background: var(--block-background);
}

.backgroundPrimary {
  --block-background: var(--mantine-color-body);
}

.backgroundSecondary {
  --block-background: var(--mantine-color-gray-1);
}

[data-mantine-color-scheme="dark"] .backgroundSecondary {
  --block-background: var(--mantine-color-dark-6);
}

.backgroundInverse {
  color: var(--mantine-color-white);
  --block-background: var(--mantine-color-blue-9);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.frost {
  --frost-opacity: 0%;
  background-color: color-mix(
    in srgb,
    var(--block-background) var(--frost-opacity),
    transparent calc(100% - var(--frost-opacity))
  );
  backdrop-filter: blur(8px);
}

.frost--xs {
  --frost-opacity: 95%;
}

.frost--sm {
  --frost-opacity: 90%;
}

.frost--md {
  --frost-opacity: 80%;
}

.frost--lg {
  --frost-opacity: 50%;
}

.frost--xl {
  --frost-opacity: 0%;
}
