:root {
  --border-width: 1px;
  --border-color: var(--mantine-color-default-border);
}

.blockBase {
  padding: 0;
}

.block {
  display: block;
}

.flex {
  display: flex;
  & > * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.border {
  border: var(--border-width) solid var(--border-color);
}

.borderLeft {
  border-left: var(--border-width) solid var(--border-color);
}

.borderRight {
  border-right: var(--border-width) solid var(--border-color);
}

.borderTop {
  border-top: var(--border-width) solid var(--border-color);
}

.borderBottom {
  border-bottom: var(--border-width) solid var(--border-color);
}
