.inverse.primary {
  background-color: var(--mantine-color-white);
  color: var(--mantine-color-dark-9);
}
.inverse.primary:hover,
.inverse.primary:focus {
  background-color: var(--mantine-color-gray-1);
}
