:root {
  --text-size: 1rem;
  --text-scale: 1;
}

.sm {
  --text-scale: 1;
}
.md {
  --text-scale: 1;
}
.lg {
  --text-scale: 1.25;
}
.xl {
  --text-scale: 1.25;
}

.text {
  font-size: calc(var(--text-size) * var(--text-scale, 1));
  margin-bottom: 0.5em;
}

.text + button {
  margin-top: 0.35em;
}
