:root {
  --hero: 3em;
  --headline-1: 2em;
  --headline-2: 1.75em;
  --headline-3: 1.5em;
  --headline-4: 1.25em;
  --headline-5: 1.125em;
  --headline-6: 1em;
}

.hero {
  font-size: var(--headline-1);
  font-weight: 800;
}

.level1 {
  font-size: var(--headline-1);
  font-weight: 700;
}

.level2 {
  font-size: var(--headline-2);
  font-weight: 700;
}

.level3 {
  font-size: var(--headline-3);
  font-weight: 600;
}

.level4 {
  font-size: var(--headline-4);
  font-weight: 600;
}

.level5 {
  font-size: var(--headline-5);
  font-weight: 500;
}

.level6 {
  font-size: var(--headline-6);
  font-weight: 500;
}
