.title {
  margin-bottom: 0.5em;
  color: var(--color);
}

.hero {
  font-size: var(--headline-1);
  font-weight: 800;
}

.level1 {
  font-size: var(--headline-1);
  font-weight: 700;
}

.level2 {
  font-size: var(--headline-2);
  font-weight: 700;
}

.level3 {
  font-size: var(--headline-3);
  font-weight: 600;
}

.level4 {
  font-size: var(--headline-4);
  font-weight: 600;
}

.level5 {
  font-size: var(--headline-5);
  font-weight: 500;
}

.level6 {
  font-size: var(--headline-6);
  font-weight: 500;
}
