.error {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  background: rgb(211, 47, 47, 0.3);
  padding: 8px 16px;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  margin: 0;
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
