.app {
  position: relative;
}

.app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("background.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.1; // adjust as needed
  z-index: -1;
  pointer-events: none;
}
